# Your LeetCode Username
LEETCODE_USERNAME=krypton_18

# To get these cookies:
# 1. Open Google Chrome and go to https://leetcode.com
# 2. Right click -> Inspect -> Go to the 'Application' tab
# 3. On the left sidebar, expand 'Cookies' and click on 'https://leetcode.com'
# 4. Find 'LEETCODE_SESSION' and paste its value below
LEETCODE_SESSION=your_session_cookie_here

# 5. Find 'csrftoken' (sometimes just called 'csrf_token') and paste its value below
LEETCODE_CSRF_TOKEN=your_csrf_token_here
